* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: auto;
  height: auto;
  font-family: "Red Hat Display", sans-serif;
  background-image: url("sfondo.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-color: black;
  color: #ffffff;
}

header {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.barra-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(24, 24, 24, 0.5); /* viola con trasparenza */
  padding: 16pt 80pt;
  position: fixed; /* Importante: il menu sta SOPRA il video */
  width: 100%;
  z-index: 10; /* Assicura che il menu sia visibile */
  color: white; /* Colore del testo del menu */
  border-bottom:1px solid #cc99cc;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex; /* Per allineare gli elementi della lista orizzontalmente */
}

.menu li {
  margin-left: 16px; /* Spazio tra le voci del menu */
}

.menu a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 5px 10px; /* Aggiunto padding per rendere i link cliccabili più facilmente */
  transition: background-color 0.3s ease; /* Aggiunta transizione per hover */
}

.home:hover {
color: #ff6633;
}

.segnonav:hover {
  color:#ffcc66;
}

.linkoroscopo:hover {
  color: #cc99cc;
}

.chisiamo:hover {
  color:#6633ff;
}

/* Stili per il sottomenu */
.menuoroscopo {
  position: relative;
  display: inline-block; /* Importante per il posizionamento del sottomenu */
}

.contenutimenuoroscopo {
  display: none;
  position: absolute;
  background-color: rgba(204, 153, 204, 0.9); /* Rosa chiaro con trasparenza */
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  min-width: 160px; /* Larghezza minima del sottomenu */
  margin-top: 34px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.contenutimenuoroscopo a {
  color: #ffffff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  border-radius: none;
}

.contenutimenuoroscopo a:hover {
  background-color: #f1f1f1;
  color: #cc99cc;
  font-weight: bold;
  border-radius: none;
}

.mese:hover {
  border-radius: none;
}

.anno:hover {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}


.contenent {
  background-image: url("bgaquario.png");
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-end; /* Allinea gli elementi a destra */
  align-items: center;
  padding-top: 150px;
  padding-right: 200px;
  padding-bottom: 80px;
}


.titolosegno {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
  margin-top: 80px;
}

.dati {
  color: white;
  justify-items: center;
}

h2 {
  font-size: 30pt;
  color: white;
}

.mood {
  color: white;
  text-align: center;
  font-size: 20pt;
  font-weight: bold;
}


h3 {
  font-size: 12pt;
}

.container {
  position : relative;
  display : flex;
  align-items : center;
  justify-content : center;
  padding : 30px;
}

.container .card {
  position: relative;
  background-color : #6633ff;
  margin-top: 80px;
  width: 460px;
  height: 260px;
  display : flex;
  flex-direction : column;
  box-shadow : 0 5px 20px rgba(0,0,0,0.5);
  transition : 0.3s ease-in-out;
  border-radius : 5px 5px 12px 12px;
  align-items: center;
}

.container .card:hover {
  height : 360px;
}


.container .card .image {
  position : relative;
  width : 400px;
  align-content: center;
  top : -40%;
  box-shadow : 0 5px 20px rgba(0,0,0,0.2);
  z-index : 1;
  border-radius: 15px;

}

.container .card .image img {
  max-width : 100%;
  border-radius : 15px;
  border: 8px solid #ffffff;}

.container .card .content {
  position : relative;
  top : -150px;
  padding : 10px 15px;
  color : white;
  text-align : left;
  visibility : hidden;
  opacity : 0;
  transition : 0.3s ease-in-out;
  margin: 0px 32px;

}

.container .card:hover .content {
   margin-top : 30px;
   visibility : visible;
   opacity : 1;
   transition-delay: 0.2s;
}


footer {
  background-color: #ffffff;
  color: #000000;
  padding: 40px 0;
}

.footer-container {
  max-width: 1350px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Distribuisce lo spazio tra le due sezioni principali */
  align-items: flex-start; /* Allinea gli elementi all'inizio del contenitore */
}

.footer-left {
  display: flex; /* Per disporre logo e email orizzontalmente */
  flex-direction: column; /* Li dispone in colonna */
  align-items: flex-start;
}

.footer-logo {
  max-width: 100px;
  margin-bottom: 10px; /* Spazio tra logo e email */
}

.footer-email {
  color: #000000;
  text-decoration: none;
  margin-bottom: 5px;
  transition: color 0.3s ease;
}
.footer-email:hover {
  color: #cc99cc;
}
.footer-right {
  text-align: right; /* Allinea il testo a destra */
  align-self: flex-end; /* Allinea la sezione in basso a destra */
}


